<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.belogurowdev.yourplaces">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".util.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LightCustomTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".activities.PlaceInfoActivity">
        </activity>
        <activity
            android:name=".activities.PlaceTypesActivity"
            android:label="@string/choose_type"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.PlacesListActivity"
            android:label="@string/choose_place"
            android:parentActivityName=".activities.PlaceTypesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PlaceTypesActivity"/>
        </activity>
        <activity android:name=".activities.AboutAppActivity">
        </activity>


        <activity android:name=".activities.PlaceHistoryActivity">
        </activity>
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCgmDGf_F2chAKZP25MLacyp5EvudbZzuI"/>
    </application>

</manifest>